/* место для вашего кода */
.header {
  display: grid;
  max-width: 1100px;
  background-color: white;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  /* Настроил высоту с помощью отступов */
  padding: 85px 0 90px 0;
}

.nav {
  grid-column: span 1;
  margin-left: 50px;
}

.nav ul {
  list-style: circle;
  display: flex;
  gap: 33px;
}

.nav li:first-of-type {
  list-style-type: none;
}

.a_line_offset {
  text-underline-offset: 4px;
}

.a_underline_off {
  /*Исправление 1ой ошибки (2ой класс для "главная" */
  text-decoration: none;
}

.header_logo {
  width: 148px;
  grid-column: span 2;
}

.address {
  grid-column: 3;
  margin-right: 50px;
  max-width: 240px;
  justify-self: end;
}

.address li {
  list-style-type: none;
}

.a_address {
  font-style: normal;
  text-underline-offset: 4px;
  line-height: 24px;
  font-size: 18px;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1100px;
  /* Добавил min-height */
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  /* Заменил значение "-1" на "0" */
  z-index: 0;
}

.overlay {
  z-index: 0;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.cover_header_text {
  /* Исправил название, чтобы в них не было чисел */
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  letter-spacing: 30%;
  font-weight: bold;
  font-size: 100px;
  margin-top: 165px;
  gap: 18px;
  z-index: 1;
}

.cover_span {
  display: block;
}
.span_center {
  text-align: center;
}
.span_end {
  text-align: right;
}
.span_no_letter_spacing {
  letter-spacing: 0;
}

.description {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.description_text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: white;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 22px;
  word-spacing: 18px;
  text-transform: uppercase;
  text-align: left;
}

.description_button {
  padding: 0;
  margin: 0;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-width: 1px;
  width: 256px;
  height: 51px;
  background-color: transparent;
  border-color: white;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  margin-left: 24px;
  margin-right: 24px;
}

.header_lots {
  display: block;
  margin-left: 40px;
  padding-bottom: 27px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.li_lots {
  list-style-type: none;
  width: 334px;
  min-height: 596px;
  padding-left: 40px;
  padding-right: 40px;
  /* Внес в один класс повторяющиеся параметры карточек */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  position: relative;
}

.article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article_header {
  color: white;
  padding-top: 48px;
  font-size: 22px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}

.article_text {
  color: white;
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 48px;
  z-index: 1;
}

.li_film_background {
  background-image: url("../images/card-lot-01.jpg");
}

.li_books_background {
  background-image: url("../images/card-lot-02.jpg");
}

.li_picture_background {
  background-image: url("../images/card-lot-03.jpg");
}

.ul_lots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  height: 100%;
}

/* Исправил название, чтобы не было ассоциации с footer */
.a_lots_more {
  display: block;
  /* Добавил fit-content  */
  max-width: fit-content;
  /* Заменил padding на margin */
  margin-left: 40px;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
  color: black;
}

.about {
  display: grid;
  grid-template-columns: 334px 2fr;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 120px;
  /* Удалил установку высоты */
  gap: 25px;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 150px;
  height: 240px;
  width: 240px;
  margin-left: 47px;
  margin-top: 35px;
}

.about_logo {
  max-width: 148px;
  height: 100%;
}

.about_text_div {
  display: flex;
  flex-direction: column;
  padding-top: 109px;
  gap: 24px;
}

.about_header_text {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  color: black;
  padding-top: 25px;
  padding-bottom: 75px;
}

.about_p_text {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  color: black;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1100px;
  /* Удалил установку высоты */
  background-color: white;
  margin-top: 180px;
}

.footer_address {
  grid-column: span 1;
  max-width: 100%;
  justify-self: start;
  padding-left: 50px;
}

.footer_address ul {
  list-style-type: none;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  align-items: center;
  justify-items: center;
  font-size: 18px;
}

.footer_nav ul {
  list-style-type: none;
  justify-items: center;
}

.socials {
  grid-column: 3;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.img_socials {
  display: flex;
  height: 48px;
  width: 48px;
}

.ul_socials {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 48px;
  padding-left: 25px;
}
