/* место для вашего кода */
.header {
  display: grid;
  width: 1100px;
  height: 293px;
  background-color: aqua;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 50px;
}

.nav ul {
  list-style: circle;
  display: flex;
  gap: 33px;
}

.nav li:first-of-type {
  list-style-type: none;
}

.a_header {
  text-underline-offset: 4px;
}

.header-logo {
  display: block;
  height: 105px;
  width: 148px;
}

.address {
  display: flex;
  justify-self: flex-end;
  flex-wrap: wrap;
  margin-right: 50px;
  width: 240px;
  height: 98px;
}

.address li {
  list-style-type: none;
}

.a_address {
  font-style: normal;
  text-underline-offset: 4px;
  line-height: 24px;
}

.cover {
  display: grid;
  width: 1100px;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-color: rgb(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .overlay {
  display: flex;
  width: 1100px;
  height: 757px;
  background-color: black;
  opacity: 50%;
  z-index: 2;
} */

.OHO,
.TEBE,
.HADO {
  color: #ffffff;
}

.OHO {
  grid-area: OHO;
  width: 286px;
  height: 115px;
}
.TEBE {
  grid-area: TEBE;
  width: 339px;
  height: 115px;
  align-self: center;
}
.HADO {
  grid-area: HADO;
  width: 387px;
  height: 115px;
  align-self: flex-end;
  justify-self: end;
}

.section_text {
  display: grid;
  z-index: 1;
  margin: 165px 50px 207px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1000px;
  height: 385px;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30%;
  grid-template-areas:
    "OHO . . "
    ". TEBE ."
    ". HADO HADO";
}
